:root {
	--clr-neutral-100: hsl(0, 0%, 100%);
	--clr-neutral-200: hsl(225, 100%, 98%);
	--clr-neutral-400: hsla(223, 23%, 55%, 1);
	--clr-neutral-800: hsl(223, 47%, 23%);

	--clr-primary-200: hsl(225, 100%, 94%);
	--clr-primary-300: hsla(245, 83%, 68%, 1);
	--clr-primary-400: hsl(245, 75%, 52%);

	--fs-700: 1.75rem;
	--fs-400: 1rem;
	--fs-300: 0.875rem;

	--fw-400: 500;
	--fw-700: 700;
	--fw-900: 900;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

body {
	font-family: 'Red Hat', sans-serif;
	font-size: var(--fs-400);
	font-weight: var(--fw-400);
	line-height: 1.6;
	color: var(--clr-neutral-400);
	background: var(--clr-primary-200);

	/* for demo only */
	display: grid;
	min-height: 100vh;
	place-items: center;
}

h1,
h2,
h3 {
	line-height: 1.1;
}

h2 {
	font-size: var(--fs-700);
	font-weight: var(--fw-900);
	color: var(--clr-neutral-800);
}

/* composition */

.grid-flow {
	display: grid;
	gap: var(--gap, 1rem);
}

.flex-row {
	display: flex;
	gap: var(--gap, 1rem);
}

/* utility */

.padding-24 {
	padding: 1.5rem;
}

.padding-48 {
	padding: 3rem;
}

.text-neutral-800 {
	color: var(--clr-neutral-800);
}

.text-neutral-400 {
	color: var(--clr-neutral-400);
}

.bg-neutral-100 {
	background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
	background-color: var(--clr-neutral-200);
}

.text-align-left {
	text-align: start;
}

.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
}

.fw-bold {
	font-weight: var(--fw-700);
}

.fw-black {
	font-weight: var(--fw-900);
}

.br-1 {
	border-radius: 0.5rem;
}

.br-2 {
	border-radius: 1rem;
}

.push-right {
	margin-left: auto;
}

a,
.link {
	cursor: pointer;
	background: transparent;
	border: 0;
	color: var(--clr-primary-400);
	text-decoration: underline;
	font-weight: var(--fw-700);
}

a:hover,
a:focus,
.link:hover,
.link:focus {
	color: var(--clr-primary-300);
	text-decoration: none;
}

/* block */

.button {
	cursor: pointer;
	text-decoration: none;
	border: 0;
	border-radius: 0.5rem;
	font-weight: var(--fw-700);
	background: transparent;
	padding: 1em 2em;
}

.button[data-type='primary'] {
	color: var(--clr-neutral-100);
	background-color: var(--clr-primary-400);
}

.button[data-type='primary']:hover,
.button[data-type='primary']:focus {
	background-color: var(--clr-primary-300);
}

.button[data-type='naked'] {
	color: var(--clr-neutral-400);
	padding: 0;
}

.button[data-type='naked']:hover,
.button[data-type='naked']:focus {
	color: var(--clr-neutral-800);
}

.card {
	overflow: hidden;
	/* for demo only */
	max-width: 450px;
}
